:root {
  --sidebar-width: clamp(90px, 10vw, 10%);
  --sidebar-padding: 0.5em;
  --top-padding: 10vh;
  --bg1: #0c0c0c;
  --color-highlight: #bc9864;
  --color-lowlight: #666666;
  --links: #857e65;
  --color-text1: #ccc;
}

.highlight, h3 {
  color: var(--color-highlight);
}

body {
  background-color: var(--bg1);
  color: var(--color-text1);
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

iframe {
  width: 100%;
}

h2,
h1 {
  color: White;
}

button {
  padding: 1em;
  border-radius: 10px;
}

.main-container {
  margin-left: var(--sidebar-width);
  padding: 0px 10px;
}

.main-container a {
  color: var(--links);
  text-decoration: none;
}

section {
  scroll-snap-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
}

section:nth-child(1) {
  padding-top: var(--top-padding);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: var(--sidebar-width);
  height: 100%;
  padding-top: var(--top-padding);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2em;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar > a,
.sidebar > a:hover {
  padding: var(--sidebar-padding);
}

.sidebar > a:hover {
  border-radius: 10px;
  -webkit-animation: fadeIn forwards 0.5s;
          animation: fadeIn forwards 0.5s;
}

@-webkit-keyframes fadeIn {
  100% {
    color: var(--bg1);
    background: var(--color-highlight);
  }
}

@keyframes fadeIn {
  100% {
    color: var(--bg1);
    background: var(--color-highlight);
  }
}

.content-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-bot div {
  margin: auto;
  text-overflow: break;
}

.content-bot div li > ul > li {
  width: 300px;
}

#Socials > * {
  max-width: 720px;
  --form-width: clamp(50px, 60vw, 720px)
  ;
}

#Socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#Socials h2 {
  text-align: justify;
}

#Socials img {
  /*align icons center with text*/
  max-height: 30px;
  margin-top: 14px;
  -webkit-padding-end: 5px;
          padding-inline-end: 5px;
}

form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form > div > input,
textarea,
form button {
  width: var(--form-width);
  min-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-color: rgba(255, 255, 255, 0.03);
  border-style: none;
  color: var(--color-lowlight);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

hr {
  margin: 0;
}

/* TIMELINE CSS */
#Work * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#Work h1 {
  text-align: center;
}

#Work h2 {
  color: inherit;
}

.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}

.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  border: 1px solid hotpink;
  right: 40px;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid hotpink;
  -o-border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(skyblue), to(hotpink));
     border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}

.timeline__item:after,
.timeline__item:before {
  content: "";
  position: absolute;
}

.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: hotpink hotpink transparent transparent;
  border-width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    -o-border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(hotpink), to(skyblue));
       border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent hotpink hotpink;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  /* font-size: 1.8rem; */
  background-color: #333;
  line-height: 1;
  -o-border-image: none;
     border-image: none;
  padding: 0.5rem 1rem 1rem;
}

.timeline__item--year:before {
  display: none;
}

@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    -o-border-image: none;
       border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
}

.timeline__blurb {
  line-height: 1.5;
  margin: 0.5rem 0 0;
}

/* HIGHLIGHT CARDS CSS */
/* CARDS */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 50px 1fr 50px;
      grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
  position: relative;
}

.card:hover {
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card:hover img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.card__icon {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* CARD BACKGROUNDS */
.card img {
  position: absolute;
  width: 100%;
  inset: 0;
  margin: auto;
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* RESPONSIVE */
@media (max-width: 1600px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
