:root {
  --sidebar-width: clamp(90px, 10vw, 10%);
  --sidebar-padding: 0.5em;
  --top-padding: 10vh;
  --bg1: #0c0c0c;
  --color-highlight: #bc9864;
  --color-lowlight: #666666;
  --links: #857e65;
  --color-text1: #ccc;
}
.name {
  color: var(--color-highlight);
}
body {
  background-color: var(--bg1);
  color: var(--color-text1);
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
}
html{
  scroll-behavior: smooth;
}
iframe {
  width: 100%;
}
h2,
h1 {
  color: White;
}
button {
  padding: 1em;
  border-radius: 10px;
}
.main-container {
  margin-left: var(--sidebar-width);
  padding: 0px 10px;
}
.main-container a {
  color: var(--links);
}
section {
  scroll-snap-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
}
section:nth-child(1) {
  padding-top: var(--top-padding);
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100%;
  padding-top: var(--top-padding);
  position: fixed;

  align-items: center;
  text-align: center;
  gap: 2em;
}
.sidebar a {
  color: inherit;
  text-decoration: none;
}
.sidebar > a,
.sidebar > a:hover {
  padding: var(--sidebar-padding);
}

.sidebar > a:hover {
  color: var(--bg1);
  background: var(--color-highlight);
  border-radius: 10px;
}

#Socials > * {
  max-width: 720px;
  --form-width: clamp(50px, 60vw, 720px)
}

#Socials a {
  display: flex;
}
#Socials h2 {
  text-align: justify;
}

#Socials img{
  /*align icons center with text*/
  max-width: 32px;
  max-height: 30px;
  margin-top: 14px;
  padding-inline-end: 5px;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > div > input,
textarea,
form button {
  width: var(--form-width);
  min-height: 40px;
  flex: 1 1;
  background-color: rgba(255, 255, 255, 0.03);
  border-style: none;
  color: var(--color-lowlight);
}

input:active,
input:focus,
textarea:active,
textarea:focus
{
  background-color: rgba(255, 255, 255, 0.1);
}
hr{margin: 0;}