:root {
  --sidebar-width: clamp(90px, 10vw, 10%);
  --sidebar-padding: 0.5em;
  --top-padding: 10vh;
  --bg1: #0c0c0c;
  --color-highlight: #bc9864;
  --color-lowlight: #666666;
  --links: #857e65;
  --color-text1: #ccc;
}
.name {
  color: var(--color-highlight);
}
body {
  background-color: var(--bg1);
  color: var(--color-text1);
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* display: flex; */
}

a {
  color: var(--links);
}
